<h3>Frigga  版本: <%= @ver %></h3>
<table class="table table-bordered table-hover table-condensed">
<!--   <thead> -->
    <tr class="info">
      <td><strong>Process</strong></td>
      <td><strong>Status</strong></td>
      <td><strong>Start Time</strong></td>
    </tr>
<!--   </thead>
  <tbody> -->
    <tr>
    <td>
      <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="<%= @process['default']['frigga'][:start] %>">Frigga</a>
    </td>
    <td>
      <% if @process['default']['frigga'][:status] == 'running' %>
        <span class="label label-info"><%= @process['default']['frigga'][:status] %></span></td>
      <% else %>
        <span class="label label-warning"><%= @process['default']['frigga'][:status] %></span></td>
      <% end %>
    <td><%= @process['default']['frigga'][:start_time] %></td>
    <tr>

<!--   </tbody> -->
</table>
